<h1><%= @place.city %>, <%= @place.state %></h1>
<p><%= @place.description %></p>

<form action="/" method="post">
  <label for="rank">Rank</label>
  <input type="text" name="id" value="<%= @place.id %>" hidden>
  <select name="rank">
    <% @length.times do |i| %>
      <option value="<%= i + 1 %>"><%= i + 1 %></option>
    <% end %>
  </select>
  <button type="submit">Set rank</button>
</form>
<br>
<a href='/'>Go back to the list</a>
